<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Редактировать категорию", edit_category_path(@category) %> |
  <%= link_to "Обратно к списку категорий", categories_path %>

  <%= button_to "Удалить категорию", @category, method: :delete, class: 'btn btn-danger' %>
</div>
