<p style="color: green"><%= notice %></p>

<%= render partial: 'solution', object: @solution, locals: { with_content: true } %>

<div>
  <%= link_to "Редактировать решение", edit_task_solution_path(@task, @solution) %> |
  <%= link_to "Обратно к решениям", task_solutions_path(@task) %>

  <%= button_to "Удалить решение", task_solution_path(@task, @solution), method: :delete, class: 'btn btn-danger' %>
</div>
