<!DOCTYPE html>
<html>
  <head>
    <title>VkCybersecurityTrainer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <% if !user_signed_in? && controller_name != 'sessions' %>
        <%= button_to 'Войти', new_session_path, method: :get  %>
        <%= button_to 'Зарегистрироваться', new_user_path, method: :get  %>
      <% else %>
      <% end%>
    </header>
    <%= yield %>
  </body>
</html>
